/* Styles for the entire page body */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

/* Styles for elements with class 'glow-on-hover' */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

/*

background: linear-gradient : This sets a linear gradient background for the pseudo-element. It's a smooth transition of colors from one side to another. The gradient is defined with multiple color stops and angles (45 degrees in this case).
animation: glowing 20s linear infinite : This applies a CSS animation called glowing. It lasts for 20 seconds, has a linear timing function, and repeats infinitely.

*/
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, rgba(2,0,36,1), rgba(170,54,124,1), rgba(0,212,255,1), rgba(142,81,146,1), rgba(123,98,160,1), rgba(2,0,36,1));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

/* Styles for when the element is active (clicked) */
.glow-on-hover:active {
    color: #000
}

/* Styles for when the element is active */
.glow-on-hover:active:after {
    background: transparent;
}

/* Styles for when the element is hovered over */
.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Keyframes animation for glowing effect */
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}